<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Japanese Quiz</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body id="app">
  <!-- Form for submitting answers -->
  <form class="container" action="/submit" method="post">
    <div class="horizontal-container">
      <h3>
        Total Score:
        <span id="score">
          <%= locals.totalScore ? totalScore : "0" %>
        </span>
      </h3>

    </div>
    <!-- Displays Japanese word to translate -->
    <h1 id="japaneseWord">
      <%=question.character %>
    </h1>
    <!-- Container for answer input-->
    <div class="answer-container">
      <input type="text" name="answer" id="userInput" placeholder="Enter the translation" autofocus autocomplete="off">

    </div>

    <!-- Submit Button -->
    <button type="submit">SUBMIT<% if(locals.wasCorrect){ %>
        <!-- Displays checkmark if answer was correct -->
        <span class="checkmark">✔</span>
        <% } else if (locals.wasCorrect===false) { %>
          <!-- Displays cross mark if answer was incorrect -->
          <span class="cross" id="error">✖</span>
          <% } %>
    </button>

  </form>

  <!-- JavaScript section -->
  <script>
    // Retrieves value of 'wasCorrect' from server-side
    var wasCorrect = "<%= locals.wasCorrect %>";
    console.log(wasCorrect)
    if (wasCorrect === "false") {
      // If answer was incorrect, display final score and restart option
      alert('Game over! Final best score: <%= locals.totalScore %>');
      document.getElementById("app").innerHTML = '<a href="/" class="restart-button">Restart</a>'
    }


  </script>
</body>

</html>