body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 40%;
    height: 300px;
    margin: 15% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  h3 {
    margin: 0;
  }
  
  .answer-container {
    width: 100%;
    text-align: center;
  }
  
  input {
    text-align: center;
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    font-weight: 800;
    letter-spacing: 2px;
    font-size: large;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .horizontal-container {
    display: flex;
    justify-content: space-between;
  }
  
  button:hover {
    background-color: pink;
  }
  
  #result {
    text-align: center;
    font-size: 24px;
  }
  
  .checkmark {
    color: transparent;
    animation: checkmark 0.5s ease;
  }
  
  .cross {
    color: transparent;
    animation: cross 0.5s ease;
  }
  
  @keyframes checkmark {
    0% {
      color: transparent;
    }
    100% {
      color: green;
    }
  }
  
  @keyframes cross {
    0% {
      color: transparent;
    }
    100% {
      color: red;
    }
  }
  
  .restart-button {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
  }

  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
}

select:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}